---
import logo from '~/config/components/logo';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {logo.text}</span>
  <img style="margin-left: 0.25rem;" src="/assets/eltana-blades.png" height="24px" width="24px"/>
